<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- Local style CSS -->
    <link rel="stylesheet" type="text/css" media="screen" href="static/css/styles.css">
    <title>Resources and References</title>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      </button>
        <div class="collapse navbar-collapse" id="navbarNav">
           <a class="navbar-brand" href="/">
           <img src="../static/images/geyser-clipart.jpg" width="50" height="50" class="d-inline-block align-middle" alt="">
           Old Faithful Homepage
        </a>
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="/ml">Machine Learning Project</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/references">Resources</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://github.com/kyanite5">Me</a>
          </li>
        </ul>
      </div>
    </nav>

    <div class="container-fluid">
      <br>
      <h3> References and Links</h3>
      <br>
        <div class="list-group">
          <a href="https://www.geosociety.org/gsatoday/archive/23/6/article/i1052-5173-23-6-4.htm" class="list-group-item list-group-item-action list-group-item-primary">Model for the eruption of the Old Faithful geyser, Yellowstone National Park (2013)</a>
          <a href="http://www.stat.yale.edu/~jah49/Pictures_in_R/Fickle_Old_Faithful/OldFaithful.pdf" class="list-group-item list-group-item-action list-group-item-primary">Statistics on Old Faithful (2013)</a>
          <a href="https://medium.com/@kasumisanchika/k-means-clustering-for-old-faithful-geyser-eruptions-analysis-74f3df8979b1" class="list-group-item list-group-item-action list-group-item-primary">K-means Clustering for Old Faithful Geyser Eruptions Analysis (2018)</a>
          <a href="https://www.stat.washington.edu/~handcock/321/Cases/geyscase.pdf" class="list-group-item list-group-item-action list-group-item-primary">Eruptions of the Old Faithful Geyser (2006)</a>
          <a href="http://rpubs.com/bnigatu/OldFaithful" class="list-group-item list-group-item-action list-group-item-primary">CS871-IP2 (2019)</a>
          <a href="http://www.geyserstudy.org/geyser.aspx?pGeyserNo=OLDFAITHFUL" class="list-group-item list-group-item-action list-group-item-primary">Geyser Observation and Study Associaton (GOSA)</a>
          <a href="http://geysertimes.org" class="list-group-item list-group-item-action list-group-item-primary">Geyser Times</a>
          <a href="https://www.annualreviews.org/doi/full/10.1146/annurev-earth-063016-015605" class="list-group-item list-group-item-action list-group-item-primary">The Fascinating and Complex Dynamics of Geyser Eruptions (2017)</a>
          <a href="http://faculty.business.utsa.edu/manderso/R-examples/Geyser/Azzalini%20and%20Bowman,%20A%20look%20at%20some%20data%20on%20the%20Old%20Faithful%20geyser%20(JRSS-C,%201990).pdf" class="list-group-item list-group-item-action list-group-item-primary">A Look at Some Data on the Old Faithful Geyser (1991)</a>
          <a href="http://people.stern.nyu.edu/jsimonof/classes/2301/pdf/geystime.pdf" class="list-group-item list-group-item-action list-group-item-primary">Eruptions of the Old Faithful Geyser (2015)</a>
          <a href="http://people.stern.nyu.edu/jsimonof/classes/2301/pdf/geystime.pdf" class="list-group-item list-group-item-action list-group-item-primary">Old Faithful Geyser Eruption Model (2019)</a>
          <a href="https://www.nps.gov/yell/index.htm" class="list-group-item list-group-item-action list-group-item-primary">Yellowstone National Park</a>
          <a href="https://dataversetech.wordpress.com/2018/04/10/old-faithful-geyser-dataset-rebooted-with-python/" class="list-group-item list-group-item-action list-group-item-primary">Old faithful geyser dataset rebooted with Python (2018)</a>
          <a href="https://www.eiu.edu/geoscience/" class="list-group-item list-group-item-action list-group-item-primary">Field Geology of the Black Hills (1974) and personal notes taken at Eastern Illinois University Field Camp (1996)</a>

      <br>
      <h3>Data Sources</h3>
      <br>
      <div class="list-group">
        <a href="https://geysertimes.org/archive/" class="list-group-item list-group-item-action list-group-item-primary">Geyser Times' Archived Data</a>
        <a href="http://www.geyserstudy.org/ofvclogs.aspx" class="list-group-item list-group-item-action list-group-item-primary">Ranger Logs (1970s - 1990s) and Electronically Monitored Data 2000-2011</a>
      </div>

  </div> <!-- End container -->
  <br>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
